[submodule "CC253x"]
	path = CC253x
	url = https://github.com/kein0r/CC253x.git
[submodule "CC2530Generic"]
	path = CC2530Generic
	url = https://github.com/kein0r/CC2530Generic.git
[submodule "IEEE_802.15.4"]
	path = IEEE_802.15.4
	url = https://github.com/kein0r/IEEE_802.15.4.git
